.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}


/* layout.phtml */
html {}
body {}
div.container {position: relative;padding: 20px;}
#app-body{position: relative;}
  #app-body.exist_ui{padding: 0 0 70px;}

/* common */
.bb{box-sizing: border-box;}
.wh100{width: 100%;height: 100%;}
.scroll{overflow-x: hidden;overflow-y: auto;}
.br{border-radius: 10px;}
.button{cursor: pointer;}
/*.template{display: none;}*/
#chat_view, #members_view{position: absolute;top: 0;height: 100%;}





/* code chat view */
#code_chat_view{position: relative;padding: 0 440px 0 0;clear: both;float: left;}

/* code view */
#code_view{background: #fbb;}

/* chat view */
#chat_view{right: 120px;width: 300px;background: #bfb;}
  #chat_view_field{padding: 0 10px;width: 100%;height: 100%;}
  .chat_row{position: relative;margin: 10px auto;padding-left: 60px;width: 100%;height: auto;}
    .chat_row > .user_ico{position: absolute;top: 0;left: 0;overflow: hidden;width: 50px;height: 30px;line-height: 30px;background: #ffa;text-align: center;}
    .chat_row > .text{padding-top: 6px;width: 100%;height: 100%;line-height: 18px;}

/* members view */
#members_view{right: 0;width: 100px;background: #bbf;}
  #members_view_field{padding: 0 10px;width: 100%;height: 100%;}
    .member_row{position: relative;margin: 10px auto;width: 100%;height: 30px;line-height: 30px;text-align: center;background: #f52;}

/* user input */
#user_input{position: absolute;bottom: 0;left: 0;width: 100%;height: 50px;}
  #user_input_wrapper{position: relative;padding: 0 180px 0 100px;width: 100%;height: 50px;}
    #user_ico_field{position: absolute;top: 0;left: 0;width: 80px;height: 50px;}
      #user_ico{padding: 10px;width: 100%;height: 50px;line-height: 30px;text-align: center;background: #c4f;}
    #user_input_field{width: 100%;height: 50px;}
      #user_input_field > input{padding: 10px;width: 100%;height: 50px;background: #dfdfdf;border: 2px solid #aaa;font-size: 20px;}
    #user_input_btnSp{position: absolute;top: 0;right: 0;width: 180px;height: 50px;}
      #user_input_btnSp > div{float: left;height: 50px;line-height: 50px;text-align: center;}
        #submitBtn{margin: 0 0 0 20px;width: 80px;background: #2bb;}
        #runBtn{margin: 0 0 0 20px;width: 60px;background: #b2b;}

/* login lightbox */
#login{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
  #login > .wrapper{position: relative;width: 100%;height: 100%;}
  #login .filter{position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0.8;background: #fff;}
  #login_lightbox{position: absolute;z-index: 10001;top: 0;left: 0;right: 0;bottom: 0;margin: auto;padding: 30px;border: 2px solid #333;box-shadow: 2px 2px 10px #666;width: 500px;height: 300px;background: #fff;}
    #login_lightbox > .header{width: 100%;height: 118px;}
      #login_lightbox > .header > .title{width: 100%;height: 118px;line-height: 118px;text-align: center;font-size: 30px;font-weight: bold;}
    #login_lightbox > .body{padding: 10px 30px 50px;width: 100%;height: 118px;}
      #login_lightbox > .body > div{float: left;}
      #login_lightbox > .body > .title{width: 50px;height: 58px;line-height: 58px;text-align: center;}
      #login_lightbox > .body > .input_name{padding: 9px;width: 218px;height: 58px;}
        #login_lightbox > .body > .input_name > input{padding: 6px;width: 200px;height: 40px;}
      #login_lightbox > .body > .input_color{line-height: 58px;}
        #login_lightbox > .body > .input_color > input{}
      #login_lightbox > .body > #join{float: right;margin: 4px 0;border: 2px solid #333;width: 50px;height: 50px;line-height: 46px;text-align: center;background: #e45;}
