.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

/* bootstrap.css, pretty.css */
code{display: block;padding: 0;overflow: hidden;width: 100%;word-wrap: break-word;white-space: normal;background: transparent;}


/* layout.phtml */
html {}
div.container {position: relative;margin: 0;padding: 0 0 0 120px;}

/* common */
.bb{box-sizing: border-box;}
.wh100{width: 100%;height: 100%;}
.scroll{overflow-x: hidden;overflow-y: auto;}
.br{border-radius: 10px;}
.button{cursor: pointer;-moz-user-select: none;-webkit-user-select: none;-khtml-user-select: none;
  border-top: 3px solid #888;
  border-left: 3px solid #888;
  border-right: 3px solid #333;
  border-bottom: 3px solid #333;
}
input:focus, .button:focus {outline: 0;border-color: orange;}
.button:active {
  border-top: 3px solid #333;
  border-left: 3px solid #333;
  border-right: 3px solid #888;
  border-bottom: 3px solid #888;
}
.template{display: none;}







/* lobby */
#lobby_back, #lobby{position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;}
#lobby_back{width: 100%;height: 100%;background-color: #292a25;}
#lobby{padding: 100px 0;width: 690px;height: 550px;background-color: #fff;box-sizing: border-box;}

#lobby_title{position: absolute;top: 0;width: 100%;height: 100px;line-height: 100px;text-align: center;font-size: 50px;}

#lobby_rooms{width: 690px;height: 350px;overflow: hidden;}
  #lobby_table{margin: 0 auto;width: 570px;height: 350px;}
    #lobby_table > thead, #lobby_table > tbody{display: block;}
    #lobby_table > tbody{width: 100%;height: 310px;overflow-x: hidden;overflow-y: auto;}
    #lobby_table tr{width: 570px;cursor: pointer;}
    #lobby_table td, #lobby_table th{table-layout: fixed;}
    #lobby_table th {text-align: center;}
    #lobby_table .rnum {width: 48px;text-align: right;}
    #lobby_table .lang {width: 90px;text-align: center;}
    #lobby_table .issue {width: 432px;}

#lobby_create_room_area{position: absolute;bottom: 0;padding: 25px 60px;width: 100%;height: 100px;}
  #newIssueText{margin-right: 10px;padding: 10px;width: 393px;}
  #lang{width: 50px;margin-right: 10px;}
  #createRoomBtn{width: 100px;height: 50px;}
/* end lobby */









/* layout elements */
#navbar{position: absolute;top: 0;border-bottom: 1px solid #ddd;padding: 10px 50px 10px 10px;width: 100%;height: 60px;box-shadow: 0 1px 1px 1px #eee;}
#room_info_side_bar{position: absolute;top: 0;left: 0;width: 120px;height: 100%;z-index: 100;}
#app-body{position: relative;padding: 70px 0 10px;width: 100%;height: 100%;}
  #app-body.exist_ui{padding: 70px 0 80px;}

#chat_view, #members_view{position: absolute;top: 0;height: 100%;}



/* navigation bar */
#room_issue{position: relative;}
  /* for Debug */
  #room_issue > .img{position: absolute;top: -8px;left: 0;font-size: 20px;}
  #room_issue > .text{padding-left: 10px;width: 100%;height: 100%;line-height: 50px;font-size: 15px;overflow-x: auto;overflow-y: hidden;white-space: nowrap;box-sizing: border-box;}


/* rooms view */
#rooms_view{float: left;width: 20px;height: 100%;background-color: #292a25;}

/* members view */
#members_view{position: relative;float: left;width: 100px;height: 100%;}
  #members_view_field{padding: 0 6px;width: 100%;height: 100%;}
    .member_row{position: relative;margin: 10px auto;border: 2px solid #333;width: 90%;height: 30px;line-height: 26px;text-align: center;color: #fff;}
    .member_row.turn{border: 1px solid #fff;width: 100%;height: 50px;line-height: 46px;}



/* code chat view */
#code_chat_view{position: relative;padding: 0 300px 0 0;clear: both;float: left;}
  #code_chat_view > .separator{position: absolute;top: 0;right: 300px;width: 2px;height: 100%;background: #98978b;}

/* code view */
#code_view{/*background: #f4eeee;*/}
  #code_view_field{padding: 5px 8px;}
    #code_view_field > .code_row{position: relative;padding: 0 0 0 25px;width: 100%;min-height: 22px;line-height: 22px;font-size: 18px;}
      #code_view_field > .code_row > .number{position: absolute;left: 0;width: 23px;text-align: rleft;font-size: 13px;}

/* chat view */
#chat_view{right: 0;width: 300px;/*background: #ddffee;*/}
  #chat_view_field{padding: 0 10px;width: 100%;height: 100%;}
  .chat_row{position: relative;margin: 10px auto;padding-left: 60px;width: 100%;height: auto;min-height: 30px;}
    .chat_row > .user_ico{position: absolute;top: 0;left: 0;border: 2px solid #333;overflow: hidden;width: 50px;height: 30px;line-height: 26px;background: #ffa;text-align: center;}
    .chat_row > .text{padding-top: 6px;width: 100%;height: 100%;line-height: 18px;}

/* user input */
#user_input_form{position: absolute;padding: 15px 20px;bottom: 0;left: 0;width: 100%;height: 80px;box-sizing: border-box;}
  #user_input_wrapper{position: relative;padding: 0 80px 0 150px;width: 100%;height: 50px;}
    #user_ico_field{position: absolute;top: 0;left: 0;width: 130px;height: 50px;}
      #user_ico{padding: 10px 0;width: 100%;height: 50px;line-height: 22px;text-align: center;}
      #user_info_lb{display: none;position: absolute;left: 10px;bottom: 60px;border: 4px solid #333;padding: 10px 20px;width: 400px;height: 160px;background: #eee;}
        #user_info_lb .wrapper{position: relative;padding: 40px 0 20px;width: 100%;height: 100%;}
        #user_info_lb .header{position: absolute;top: 0;left: 0;font-size: 20px;}
        #user_info_lb .body{position: relative;padding: 0 0 30px;width: 100%;height: 100%;}
          #user_info_lb .user_info_row{position: relative;width: 100%;height: 30px;overflow: hidden;}
            #user_info_lb .user_info_row > .title{float: left;width: auto;height: 30px;line-height: 30px;}
            #user_info_lb .user_info_row > .body{float: right;width: 100px;height: 30px;}
              #showLineNumBtn{float: right;margin: 3px auto;width: 30px;height: 24px;background: #ae0;}
              #signOutBtn{position: absolute;right: 0;bottom: 0;width: 100px;height: 30px;line-height: 24px;background: #33bb66;text-align: center;}
        #user_info_lb .footer{position: absolute;bottom: 0;left: 0;width: 100%;height: 10px;font-size: 10px;text-align: right;}
    #user_input_field{width: 100%;height: 50px;}
      #user_input_field > input{padding: 10px;width: 100%;height: 50px;background: #dfdfdf;border: 2px solid #aaa;font-size: 20px;}
    #user_input_btnSp{position: absolute;top: 0;right: 0;width: 80px;height: 50px;}
      #user_input_btnSp > *{float: left;padding: 0;height: 50px;line-height: 50px;text-align: center;text-decoration: none;color: #333;}
        /*#submitBtn{margin: 0 0 0 20px;width: 80px;}*/
        #runBtn{margin: 0 0 0 20px;width: 60px;}

/* sign_up lightbox */
#sign_up{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
  #sign_up > .wrapper{position: relative;width: 100%;height: 100%;}
  #sign_up .filter{position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0.8;background: #fff;}
  #sign_up_lightbox{position: absolute;z-index: 10001;top: 0;left: 0;right: 0;bottom: 0;margin: auto;padding: 30px;border: 2px solid #333;box-shadow: 2px 2px 10px #666;width: 500px;height: 300px;background: #fff;}
    #sign_up_lightbox > .header{width: 100%;height: 118px;}
      #sign_up_lightbox > .header > .title{width: 100%;height: 118px;line-height: 118px;text-align: center;font-size: 30px;font-weight: bold;}
    #sign_up_lightbox > .body{padding: 10px 30px 50px;width: 100%;height: 118px;}
      #sign_up_lightbox > .body > div{float: left;}
      #sign_up_lightbox > .body > .title{width: 50px;height: 58px;line-height: 58px;text-align: center;}
      #sign_up_lightbox > .body > .input_name{padding: 9px;width: 188px;height: 58px;}
        #sign_up_lightbox > .body > .input_name > input{padding: 6px;width: 170px;height: 40px;}
      #sign_up_lightbox > .body > .input_color{line-height: 58px;}
        #sign_up_lightbox > .body > .input_color > input{width: 80px;background: #fff;}
      #sign_up_lightbox > .body > .join_button{float: right;}
        #join{float: right;margin: 4px 0;border: 2px solid #333;width: 50px;height: 50px;line-height: 44px;text-align: center;background: #e45;}
